<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.transactiondispute">

    <!-- Storage Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- For Android 11+ -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Login Activity as Launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".notecounter.NoteCounterActivity"
            android:exported="true" />
            <!-- Main Activity - Live View -->
        <activity
            android:name=".cashmanagementapp.CashmanagementActivity"
            android:exported="true"
             />
        

        <!-- Data Entry Activity -->
        <activity
            android:name=".cashmanagementapp.DataEntryActivity"
            android:exported="true"
             />

        <!-- Summary Activity -->
        <activity
            android:name=".cashmanagementapp.SummaryActivity"
            android:exported="true"
             />

        <!-- Data Repository (if you make it a service later) -->
        <!-- <service android:name=".DataRepositoryService" /> -->
        <!-- FileProvider for sharing - exported=false because it's only for internal use -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
